/* 由于 vant 中的主题变量也是在 :root 下声明的，所以在有些情况下会由于优先级的问题无法成功覆盖。
通过 :root:root 可以显式地让你所写内容的优先级更高一些，从而确保主题变量的成功覆盖。 */
:root:root {
  --van-primary-color: #0089FA;
  --van-text-color: #111111;
  --van-cell-font-size: 14px;
  --van-cell-text-color: #666666;
  --van-cell-value-color: #111111;
  --van-field-label-width: 92px;
  --van-dialog-message-font-size: 16px;
  /*--van-field-error-message-font-size: 10px;*/
}


.animated {
  animation-duration: .3s !important;
  -webkit-animation-duration: .3s !important;
  animation-fill-mode: both !important;
  -webkit-animation-fill-mode: both !important;
  animation-name: fadeInRight;
  -webkit-animation: fadeInRight;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate(1000px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.btn-link {
  border: none !important;
  padding: 0 !important;
  font-size: 14px !important;
  background: transparent;
}
.btn-verify {
  border: none !important;
  padding: 0 !important;
  font-size: 14px !important;
  background: transparent;
}

.con-submit {
  padding: 30px;
}
.btn-submit {
  width: 100% !important;
  height: 48px !important;
  padding: 0 !important;
  font-size: 18px !important;
}

.btn-filter {
  min-width: 60px !important;
  height: 28px !important;
  color: #111111 !important;
  padding: 0 !important;
  font-size: 12px !important;
  background: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid #FFFFFF !important;
  margin-right: 8px !important;
}

.black-1 {
  color: #111111;
}

.black-6 {
  color: #666666;
}

.black-9 {
  color: #999999;
}

.bold {
  font-weight: bold;
}

.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-26 {
  font-size: 26px;
}

.m-t-3 {
  margin-top: 3px;
}
.m-t-4 {
  margin-top: 4px;
}
.m-t-8 {
  margin-top: 8px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-4 {
  margin-bottom: 4px;
}
.m-b-8 {
  margin-bottom: 8px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-12 {
  margin-bottom: 16px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-l-4{
  margin-left: 4px;
}
.m-l-8{
  margin-left: 8px;
}
.m-l-16{
  margin-left: 16px;
}
.m-r-4 {
  margin-right: 4px;
}
.m-r-8 {
  margin-right: 8px;
}

.p-8 {
  padding: 8px;
}
.p-10 {
  padding: 10px;
}
.p-12 {
  padding: 12px;
}
.p-16 {
  padding: 16px;
}
.p-b-20 {
  padding-bottom: 20px;
}

.border-10{
  border-radius: 10px;
}
.b-t-r-10{
  border-radius: 10px 10px 0 0;
}
.b-d-l-10{
  border-radius: 0 0 10px 10px;
}

.red {
  color: #f53a42;
}
.blue {
  color: #0089FA;
}

.page {
  width: 100vw;
  height: 100vh;
}

.tag{
  padding: 3px 10px;
  border-radius: 20px;
  &.green,
  &.success,
  &.accept {
    color: #4CAF50;
    background: rgba(76,175,80,0.1);
  }
  &.pending {
    color: #666666;
    background: rgba(102,102,102,0.1);
  }
  &.submit,
  &.confirm,
  &.process {
    color: #0089FA;
    background: rgba(0, 137, 250, 0.10);
  }
  &.failure,
  &.reject {
    color: #ed3540;
    background: rgba(237,53,64,0.1);
  }
}

.cell {
  height: 50px;
  max-height: 80px;
  align-items: center;
}
.cell:last-of-type{
  border-radius: 0 0 10px 10px;
}

.card {
  background: #FFFFFF;
  border-radius: 10px;
}

.btn-fixed-b-placeholder {
  padding: 40px;
  margin-top: 10px;
}

.con-btn-fixed-b {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px 30px;
  background: #ffffff;
}
